
    <div class="border">
    <div class="card-body">
      <div class="container">
        <div class="text-center">
        </div>
  
        <div class="text-center">Developed by:</div>
        <div class="text-center">
          <h1>JANKO</h1>
        </div>
  
        <div class="text-center">ritmaslo</div>
        <div class="text-center">
          <a href="tvojamama.com">random</a>        
        </div> 
        <div class="text-center">
        <a>toto je home.component </a>
      </div>
      </div>
    </div>
  </div>
